#set($tickerObj = $doc.getObject('Classes.TickerCellClass', false))
<div id="cellPDContent$!{pdCount}$!{pageDoc.getName()}:$!isInheritable:$!{pageDepFN}"##
 class="cel_cm_pagedependent_content">
<ul>
##TODO move to component
## compute tickerElemList
#set($tickerElemList = [])
#set($tickerSpace = "$!tickerObj.getProperty('tickerSpace').getValue()")
#if("$!tickerSpace" != '')
#set($isArchive = ($tickerObj.getProperty('showArchive').getValue() == 1))
#set($maxCount = $tickerObj.getProperty('maxCount').getValue())
#if("$!maxCount" == '')
#set($maxCount = 10)
#end
#set($blog_dateFormat = $msg.get('cel_blog_dateformat'))
#if("$!blog_dateFormat" == '')
  ##TODO i18n issue: we must use java DateFormat for given language.
  #set($blog_dateFormat = "dd. MMMM, yyyy")
#end
#set($blogPageDoc = '')
#set($blogPageDoc = $xwiki.celementsblog.getBlogPageByBlogSpace($tickerSpace))
#set($calPageDocRef = $services.celcalendar.getCalendarDocRefByCalendarSpace($tickerSpace))
#if("$!blogPageDoc" != '')
  #if($isArchive)
  	#set($articles = $xwiki.celementsblog.getArchivedArticles("$tickerSpace", "", "$language"))
  #else
    #set($articles = $xwiki.celementsblog.getArticles("$tickerSpace", "", "$language"))
  #end
  #if($articles.size() > $maxCount)
  	#set($articles = $articles.subList(0, $maxCount))
  #end
  #foreach($article in $articles)
    #set($creationDate = '')
    #set($creationDateStr = '')
    #set($creationDate = $article.getPublishDate())
    #if("$!creationDate" != '')
      #set($creationDateStr = $xwiki.formatDate($creationDate, $blog_dateFormat))
    #end
#set($tickerElem = {})
#set($!dev = $tickerElem.put('title', "$article.getTitle($language)"))
#set($!dev = $tickerElem.put('date', "$!creationDateStr"))
#set($!dev = $tickerElemList.add($tickerElem))
  #end
#elseif("$!calPageDocRef" != '')
#set($calApi = $services.celcalender.getCalendarByCalRef($calPageDocRef, $isArchive))
#foreach($eventApi in $calApi.getEvents(0, $maxCount))
#set($creationDateStr = $xwiki.formatDate($eventApi.getEventDate(), $blog_dateFormat))
#set($tickerElem = {})
#set($!dev = $tickerElem.put('title', "$eventApi.getTitle()"))
#set($!dev = $tickerElem.put('date', "$!creationDateStr"))
#set($!dev = $tickerElemList.add($tickerElem))
#end
#else
unknown ticker type
#end
#else
<!-- no ticker space found -->
#end
## end compute tickerElemList
#foreach($tickerElem in $tickerElemList)
	<li>
		#set($columnConfig = $tickerObj.getProperty('columnConfig').getValue().split(','))
		#foreach($columnName in $columnConfig)
			<div class="celTicker_$!{columnName}">$!{tickerElem.get("$!columnName")}</div>
		#end
    <div class="clearleft"><!-- required:floating images --></div>
	</li>
#end
</ul>
<!-- IE6 --></div>
